@model my_project_1.Models.Applyforjob

@{
    ViewBag.Title = "تفاصيل الوظيفة";
    Layout = "~/Views/_main_LayoutPage1.cshtml";
}

<h2>تفاصيل الوظيفة</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job.Jobtital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.Jobtital)
        </dd>

        
        <dd>
            @Html.DisplayFor(model => model.User.usertype)
        </dd>

        <dt>
          الرسالة
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

        <dt>
           التاريخ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Massage)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("الرجوع الي القائمة", "Index")
</p>
