@model my_project_1.Models.Job

@{
    ViewBag.Title = "حذف";
    Layout = "~/Views/_main_LayoutPage1.cshtml";
}

<h2>حذف</h2>

<h3>هل انت متاكد من الحذف هذا</h3>
<div>
    <h4>الوظائف</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jobtital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jobtital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jobcontent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jobcontent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intJobimage)
        </dt>

        <dd>
            <img src="~/uploads/@Html.DisplayFor(model => model.intJobimage)"
                 class="thumnail" style="width:48px;height:48px;" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="تأكيد الحذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة الي القائمة", "Index")
        </div>
    }
</div>
